In [ ]:
# WHO EDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('who_data.csv')

In [6]:
df.head()

,setting,date,source,indicator_abbr,indicator_name,dimension,subgroup,estimate,se,ci_lb,...,iso3,favourable_indicator,indicator_scale,ordered_dimension,subgroup_order,reference_subgroup,whoreg6,wbincome2023,update,dataset_id
0,Albania,2020-05,UMD-CTIS,anxious_7d,Felt nervous for most or all of the past 7 day...,Age (4 groups) (18-65+),18-24 years,14.0,2.0,10.0,...,ALB,0,100,1,4,0,European,Upper middle income,27 April 2022,rep_ctis1
1,Albania,2020-05,UMD-CTIS,anxious_7d,Felt nervous for most or all of the past 7 day...,Age (4 groups) (18-65+),25-44 years,8.0,1.0,7.0,...,ALB,0,100,1,3,0,European,Upper middle income,27 April 2022,rep_ctis1
2,Albania,2020-05,UMD-CTIS,anxious_7d,Felt nervous for most or all of the past 7 day...,Age (4 groups) (18-65+),45-64 years,5.0,1.0,4.0,...,ALB,0,100,1,2,0,European,Upper middle income,27 April 2022,rep_ctis1
3,Albania,2020-05,UMD-CTIS,anxious_7d,Felt nervous for most or all of the past 7 day...,Age (4 groups) (18-65+),65+ years,6.0,2.0,3.0,...,ALB,0,100,1,1,0,European,Upper middle income,27 April 2022,rep_ctis1
4,Albania,2020-05,UMD-CTIS,anxious_7d,Felt nervous for most or all of the past 7 day...,Gender,Female,7.0,1.0,6.0,...,ALB,0,100,0,0,0,European,Upper middle income,27 April 2022,rep_ctis1